html
	head
		title= title
		script(src="./javascripts/webrtc.io.js")
body
		h1= title
		div(id="videoStream")
		script.
			console.log("Begin RTC Connection")

			var connection = new RTCMultiConnection(params.sessionid);

			connection.bandwidth = {};

			connection.openSignalingChannel = openSignalingChannel;

			var videoStream = document.getElementById('videoStream');

			connection.onstream = function (e) {
				videoStream.insertBefore(e.mediaElement);
			};

			var sessionDescription = {
				userid: userID,
				extra: {},
				session: {
					video: true,
					oneway: true
				},
				sessionid: sessionID
			};

			if (userID && sessionID) {
				connection.join(sessionDescription);
			}

			function openSignalingChannel(config) {
				config.channel = config.channel || this.channel;
				var websocket = new WebSocket('wss://brocastme.herokuapp.com');
				websocket.onopen = function () {
					websocket.push(JSON.stringify({
						open: true,
						channel: config.channel
					}));
					if (config.callback) config.callback(websocket);
				};
				websocket.onerror = function() {
					alert('Unable to connect to brocastme.herokuapp.com');
				};
				websocket.onmessage = function (event) {
					config.onmessage(JSON.parse(event.data));
				};
				websocket.push = websocket.send;
				websocket.send = function (data) {
					websocket.push(JSON.stringify({
						data: data,
						channel: config.channel
					}));
				};
			}
