body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

h1 {
	margin: 2%;
	color: #444;
	font-family: Helvetica;
}

a {
	margin-left: auto;
	margin-right: auto;
	color: #e886d0;
}

i {
	color: #e886d0;
}

#container{
	width: 100%;
	height: 100%;
	overflow: scroll;
}

#title{
	width: 80%;
	padding-top: 10%;
	margin-left: auto;
    margin-right: auto;
}

#videoStream{
	float: left;
	padding-left: 2%;
}

#annotations{

}

#social{
	display: inline-block;
	float: right;
	margin-right: 5%;
}

#widget{
	float: right;
	margin-right: 10px;
}

@media screen and (min-device-width : 200px) and (max-device-width : 600px) {
	#logo{
		margin-top: -5%;
		width:90%; 
		height:auto;
	}
}

@media screen and (min-device-width : 601px) {
	#logo{
		margin-top: -5%;
		width:55%; 
		height:auto;
	}
}

#nowButton {
	text-decoration: none;
	padding: 10px;
	background-color: #e886d0;
	color: #fff;
	border-radius: 10px;
}