body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

#videoStream{
	float: left;
	padding-left: 2%;
}

#annotations{
	background-color: #F0F0F0;
	float: right;
	width: 24%;
	height: 65%;
	margin-left: 2%;
	padding-right: 2%;
}