body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
	margin-left: auto;
	margin-right: auto;
	color: #e886d0;
}

i {
	color: #e886d0;
}

#container{
	width: ;
	height: 100%;
	overflow: scroll;
}

#title{
	width: 80%;
	padding-top: 10%;
	margin-left: auto;
    margin-right: auto;
}

#logo{
	margin-top: -5%;
}

#videoStream{
	float: left;
	padding-left: 2%;
}

#annotations{

}

.socialContainer {
	margin-bottom: 25px;
	display: inline-block;
	float: right;
}

.socialContainer * {
	width: 45px;
	height: 45px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; 
	display: inline-block;
}

#facebook_button {
	background-image: url(/images/fb_logo.png);
	padding-left: -33px;
	margin-right: 5px;
}

#twitter_button {
	background-image: url(/images/tw_logo.png);
	background-color: #55ACEE;
	margin-left: 10px;
}