html
	head
		title= title
		script(src="./javascripts/RTCMultiConnection-v1.9.js")
		script(src="./javascripts/socket.io-1.0.6.js")
		link(href='stylesheets/style.css', rel='stylesheet')
	body
		h1= title
		div(id="videoStream")
		script.
			var sessionID = "#{sessionID}";
			var userID = "#{userID}";

			console.log("Begin RTC Connection")
			console.log(sessionID + " " + userID)

			var connection = new RTCMultiConnection(sessionID);
			connection.bandwidth = {};
			connection.openSignalingChannel = openSignalingChannel;

			var videoStream = document.getElementById('videoStream');

			connection.onstream = function (e) {
				videoStream.insertBefore(e.mediaElement);
				console.log("streaming")
			};

			var seshInfo = {
				userid: userID,
				sessionid: sessionID,
				session: {
					video: true,
					oneway: true
				}
			};

			if (userID && sessionID) {
				connection.join(seshInfo);
			}

			function openSignalingChannel(config) {
				config.channel = config.channel || this.channel;
				
				config.channel = config.channel || this.channel;
				//'wss://wsnodejs.nodejitsu.com:443'
				var websocket = new WebSocket('ws://brocast-signalserver.herokuapp.com');

				websocket.onopen = function () {
					websocket.push(JSON.stringify({
						open: true,
						channel: config.channel
					}));

					if (config.callback) config.callback(websocket);
				};

				websocket.onerror = function() {
					alert('Unable to connect to wss://wsnodejs.nodejitsu.com:443');
				};

				websocket.onmessage = function (event) {
					config.onmessage(JSON.parse(event.data));
				};

				websocket.push = websocket.send;

				websocket.send = function (data) {
					websocket.push(JSON.stringify({
						data: data,
						channel: config.channel
					}));
				};
			}

		div(id="annotations")
